<div class="container" style="margin-top: 5rem">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center border-primary mx-auto my-auto" style="max-width: 40rem;">
        <h2 class="card-header bg-primary text-center text-light">
          Forgot password?
        </h2>
        <p class="card-title mt-2">Provide your registered email address, to reset your password!</p>
        <div class="card-body">
          <form class="form-group" (ngSubmit)="authService.forgotPassword(passwordResetForm.get('email').value)"
            [formGroup]="passwordResetForm">
            <span class="text-left"
              *ngIf="passwordResetForm.get('email').hasError('required') && passwordResetForm.get('email').touched">
              <p [ngStyle]="{color: 'red'}">* Required</p>
            </span>
            <span class="text-left"
              *ngIf="passwordResetForm.get('email').hasError('email') && passwordResetForm.get('email').touched">
              <p [ngStyle]="{color: 'red'}">* Provide a valid email address</p>
            </span>
            <input class="form-control mb-2" type="email" placeholder="Email" formControlName="email">
            <h1></h1>
            <button class="btn btn-outline-primary mt-4" type="submit" [disabled]="!passwordResetForm.valid">
              Reset
            </button>
          </form>
        </div>
        <div class="card-footer border-primary bg-transparent">
          Don't have an account?
          <a class="active" routerLink="/register">
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
