<div class="container" style="margin-top: 5rem;">
  <div class="row">
    <div class="col-xl-12">
      <div class="card border-primary mx-auto my-auto" style="max-width: 40rem;">
        <h3 class="card-header bg-primary text-light text-center">Error 404: Page not found!</h3>
        <div class="card-body text-center">
          <p class="mb-4">Click the button below to redirect you back to our application</p>
          <button class="btn btn-outline-primary" (click)="onRedirect()">Redirect</button>
        </div>
      </div>
    </div>
  </div>
</div>
